.bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
.bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}
/*html, body {
    background-image: url("../img/background.png");
    background-repeat: repeat;
    background-attachment: fixed;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -15px;
    margin-bottom: -15px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p { 
    text-indent: 5em;
    padding: 5px;
}

.container {
    background-position: center top;
    vertical-align: middle;
    width: 60%;
    margin: 0 auto;
    margin-top: 0px;
    background-image: url("../img/paper.jpg");
    background-repeat: repeat;
    z-index: 0;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12pt;
    font-family: tahoma, 'Segoe UI', Tahoma, Verdana, sans-serif, Arial, serif;
}
.title {
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30pt;
}

img {
    height: auto;
    max-width: 640px;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
}
img.expanded {
    max-width: 2000px;
}

.photo {
    background: url("../img/me.png") no-repeat;
    float: right;
    padding: 10px;
    background: white;
    box-shadow: 5px 10px;
}a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p { 
    text-indent: 5em;
}

.container {
    background-position: center top;
    width: 60%;
    margin: 0 auto;
    height: auto;
    background-color: rgb(197, 196, 196);
    z-index: 0;
    padding-left: 15px;
    padding-right: 15px;
}
.title {
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30pt;
}

.headings {
    margin-top: 35px;
    margin-bottom: 15px;
}
table, td, td {
    border: 1px solid black;
    border-spacing: 2px;
    text-align: left;
    text-align: top;
    table-layout: fixed;
    width: 90px;
    padding: 2px;
}
.week, .time {
    background: #ffffff;
}

.MATH1060 {
    background: #fc7e7e;
}

.COMP301 {
    background: #7b7bfc;
    
}

.CS2550 {
    background: #ffff00;
}

.CS2810 {
    background: #ea00cf;
}

a.fancybox img {
    border: none;
    box-shadow: 0 1px 7px rgba(0,0,0,0.6);
    -o-transform: scale(1,1); -ms-transform: scale(1,1); -moz-transform: scale(1,1); -webkit-transform: scale(1,1); transform: scale(1,1); -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;
} 
a.fancybox:hover img {
    position: relative; z-index: 999; -o-transform: scale(1.03,1.03); -ms-transform: scale(1.03,1.03); -moz-transform: scale(1.03,1.03); -webkit-transform: scale(1.03,1.03); transform: scale(1.03,1.03);
}
*/